.headerTile {
    background-color: transparent;
    border: 1px solid transparent !important;
    text-align: center;
    font-size: 12px;
    border-left: 1px solid white !important;
}

.noShift {
    background-color: grey;
}

.morningShift {
    background-color: green;
}

.afternoonShift { 
    background-color: orange;
}


.tile {
    width: 30px;
    height: 20px;
    border: 1px solid white;
}