.monthWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.rowWrapper{
    display: flex;
    flex-direction: row;
}

.name, .namePlaceholder{
    width: 100px;
}

.monthHeader{
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}