.outerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.innerContainer {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
    min-height: 40vh;
    flex-direction: column;    
    border-radius: 5px;
    padding: 40px;
}

.input, .button {
    width: 100%;
    margin: 10px;
    min-height: 45px;
}

.input {
    border-color: white;
}

.input-border {
    border-color: white;
}

input:-webkit-autofill{
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
}